body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******************/
/* NAVBAR STYLING */
/******************/
#navbar {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  color:white;
}
.half {
  width: 50%;
  float: left;
  height: 4em;
}
.nav-title {
  width: 80%;
  padding: 0.5em 0;
  padding-left: 20%;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
}
.nav-title span {
  line-height: 1em;
  font-size: 36pt;
}
#nav {
  margin: 0;
  padding: 0;
  padding-right: 20%;
  list-style-type: none;
}
#nav li {
  float:left;
  height: 4em;
  width: 30%;
  text-align: center;
  vertical-align: middle;
}
#home-nav {
  display:none;
}
#nav li:hover {
  background-color: grey;
}
#nav li a {
  font-family: sans-serif;
  text-decoration: none;
  line-height: 1.75em;
  font-size: 12pt;
  color: white;
}
.invisible {
  opacity:0;
}

/********************/
/* HOME DIV STYLING */
/********************/
#home {
  height: 100vh;
  background-image: url("assets/milky_way.jpg");
  background-size: cover;
}
#home div {
  color: white;
  text-align: center;
}
#name {
  padding-top: 40vh;
  font-size: 48pt;
}
#desired-title {
  font-size: 36pt;
}

/******************/
/* FOOTER STYLING */
/******************/
#footer {
  height: 2.2em;
  width: 100vw;
  background-color: rgba(146,186,225,0.7);
}
#footer > div {
  float: left;
  height: 2em;
  font-family: sans-serif;
  padding: 0.5em 0;
}
#footer .half {
  width: 49%;
}
.lefthalf {
  text-align: right;
}
.righthalf {
  text-align: left;
}
.and {
  text-align: center;
  width: 2%;
  font-size: 1em;
  line-height: 1em;
  font-weight: lighter;
}

/************/
/* CLEARFIX */
/************/
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
