/**********/
/* GLOBAL */
/**********/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
}
.emph-text {
  font-family: 'Roboto Slab', serif;
}

/***************/
/* SCAFFOLDING */
/***************/
.spacer {
  background-color:transparent;
}
.section-wrapper {
  color: white;
  width: 100%;
}
.section-half-wrapper {
  float: left;
  width: 50%;
}
.section-header {
  color: white;
  background-color: transparent;
  width: 100%;
  text-align: center;
  font-size: 24pt;
  padding: 0.7em 0;
}
.sub-section-header {
  width: 100%;
  text-align: center;
  font-size: 18pt;
  padding: 0.25em 0;
}
.section-body {
  max-width: 100%;
  text-align: center;
  font-size: 12pt;
}

/************************/
/* CONTENT ORGANIZATION */
/************************/
.content-window {
  background: rgba(0,0,0,0.7);
  padding-bottom: 2vw;
  width: 90vw;
  margin: 0 5vmin;
  border-radius: 2vmin;
}


/******************/
/* NAVBAR STYLING */
/******************/
#nav-blur {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100px;
  z-index: 99;
  background: -moz-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
  background: -webkit-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
  background: -ms-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
  background: -o-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
  background: linear-gradient(to bottom,rgba(146,186,225,1),rgba(146,186,225,0.7));
}
#navbar {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100px;
  z-index: 100;
  text-align: center;
  box-shadow: 0 1px 10px 3px rgba(0,0,0,0.7);
}
.nav-wrapper {
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  height: 100px;
}
.nav-title {
  padding-top: 10px;
  font-size: 60px;
  padding-bottom: 11px;
  width: 41vw;
}
.nav-link {
  padding-top: 50px;
  padding-bottom: 24px;
  font-size: 20px;
  width: 13vw;
}
li.current a div {
  background-color: rgb(50,50,50);
  background-color: rgba(50,50,50,0.8);
}
#nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#nav li {
  float:left;
  text-align: center;
}
#nav li a {
  text-decoration: none;
  font-size: 12pt;
  color: white;
}

/**********************/
/* BACKGROUND STYLING */
/**********************/
#background {
  background-image: url(assets/cityscape-color.jpg);
  position: fixed;
  left: 0;
  top: 0;
  z-index: -5;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}


/*********************/
/* TITLE DIV STYLING */
/*********************/
#title {
  color: white;
  text-align: center;
  font-size: 36pt;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
#title > .emph-text {
  background-color: rgba(0,0,0,0.7);
  padding: 5vmin;
  border-radius: 2vmin;

}

/*********************/
/* ABOUT DIV STYLING */
/*********************/
#about {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5% 1fr 5%;
}
#about > .section-wrapper {
  grid-row: 1;
  grid-column: 2;
}
.toolkit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
.tool {
  padding: 10px;
  margin: 5px;
  color: white;
  border-radius: 10px;
  text-align:center;
  font-size:110%;
}

.tool-current {
  background-color: rgb(146,186,225);
  background-color: rgba(146,186,225,0.7);
}

.tool-future {
  display: none;
  background-color: rgb(128,128,128);
  background-color: rgba(128,128,128,0.7);
}


/************************/
/* PROJECTS DIV STYLING */
/************************/
#projects .tool {
  background-color: rgb(50,50,50);
  background-color: rgba(50,50,50,0.8);
}
.project-display {
  padding: 0;
  width:86vw;
  margin: 0 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2vw;

}
.pd-even > .img-contain {
  order: 0;
}
.pd-even > .project-info {
  order: 1;
}
.pd-odd > .img-contain {
  order: 1;
}
.pd-odd > .project-info {
  order: 0;
}
.img-contain {
  width:43vw;
  background-color: rgba(128,128,128,0.7);
  background-color; rgb(128,128,128);
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.project-image {
  width: 80%;
  margin: 10%;
}
.project-info {
  width:39vw;
  padding: 2vw;
  text-align: center;
  background-color: rgba(146,186,225,0.7);
  background-color; rgb(146,186,225);
}
.project-links {
  width: 100%;
  height: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
.project-link {
  width: 30vmin;
  font-size: 120%;
  padding: 7px;
  margin: 5px;
  color: white;
  border-radius: 10px;
  align-self: flex-end;
  text-align: center;
  font-size: 90%;
  background-color: rgb(50,50,50);
  background-color: rgba(50,50,50,0.8);
}
#projects > .sub-section-header {
  width: 100%;
}
#projects > .sub-section-header > a {
  text-decoration: none;
}
#other-projects {
  width: 50%;
  margin: 0 25%;
  padding: 10px 0;
  color: white;
  border-radius: 10px;
  text-align:center;
  background-color: rgba(146,186,225,0.7);
}

#other-projects:hover {
  background-color: rgba(128,128,128,0.7);
}

.project-display a {
  text-decoration: none;
}
.project-display .section-header {
  padding: 0;
}

/***********************/
/* CONTACT DIV STYLING */
/***********************/
#contact {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2vw;
}
#contact > .section-wrapper {
  padding: 0 2vmin;
}
#contact > .section-wrapper > .section-body {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
#contact > .section-wrapper > .section-body > a {
  text-decoration: none;
}

.message-form {
  width:100%;
  text-align: center;
  padding: 1%;
}
.message-form > input,textarea {
  width: 100%;
  box-sizing:border-box;
  margin-bottom: 0.7em;
  font-size: 12pt;
}
#send-message {
  width: 50%;
  font-size: 12pt;
  height: 2em;
  margin-bottom: 1em;
  background-color: white;
  border: 2px solid lightgrey;
  border-radius:1em;
}
#send-message:hover {
  background-color: rgba(146,186,225,0.7);
  border-color: black;
}

.presence:nth-child(1n+1) {
  background-color: rgba(146,186,225,0.7);
  color: white;
  border-radius: 10px;
  text-align:center;
  width: 100%;
  padding: 0;
}

.presence > div {
  clear: left;
  padding-bottom: 1em;
}

.presence > i {
  float:left;
  font-size: 10vmin;
  padding: 2vmin 5vmin;
}

/******************/
/* FOOTER STYLING */
/******************/
#footer {
  width: 100%;
  padding-bottom: 0;
}
#footer div.section-half-wrapper {
  padding: 0.7em 0;
  background-color: rgba(146,186,225,1);
}
#c-info {
  text-align: center;
}
.to-top {
  text-align: center;
  color: black;
}
.to-top:hover {
  color: white;

}
.to-top a {
  text-decoration: none;
}

/**************/
/* RESPONSIVE */
/**************/
@media only screen and (max-device-width: 750px), only screen and (max-width: 750px) {
  .section-half-wrapper {
    width: 100%;
  }
  #navbar {
    height: 125px;
  }
  #nav-blur {
    height: 125px;
    background: -moz-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
    background: -webkit-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
    background: -ms-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
    background: -o-linear-gradient(top,rgba(146,186,225,1),rgba(146,186,225,0.7));
    background: linear-gradient(to bottom,rgba(146,186,225,1),rgba(146,186,225,0.7));
  }
  .nav-title {
    padding-top: 0;
    width: 80vw;
  }
  .nav-link {
    padding: 0;
    padding-bottom: 10px;
    width: 26vw;
  }
  .pd-even > .img-contain {
    order: 1;
  }
  .pd-even > .project-info {
    order: 0;
  }
  .img-contain {
    width: 100%;
    background-color: rgba(128,128,128,0.7);
    background-color; rgb(128,128,128);
  }
  .project-info {
    width: 100%;
  }
  #contact > .section-wrapper > .section-body {
    flex-wrap: wrap;
  }
  .presence > i {
    font-size: 20vmin;
  }
  .presence {
    margin: 2vmin 0;
  }
}
@media only screen and (max-device-width: 500px), only screen and (max-width: 500px) {
   .section-header {
     font-size: 24pt;
   }
   .section-wrapper {
     font-size: 12pt ;
   }
   #title {
     font-size: 24pt;
   }
}
@media only screen and (max-device-width: 350px), only screen and (max-width: 350px) {
  .nav-title {
    font-size: 50px;
  }
}
