/* RESETS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: Heroic_Condensed_Oblique;
    src: url("assets/fonts/heroic/HeroicCondensedBoldOblique.otf") format("opentype");
}

@font-face {
    font-family: Heroic_Condensed;
    src: url("assets/fonts/heroic/HeroicCondensedLight.otf") format("opentype");
}

@font-face {
    font-family: Quicksand;
    src: url("assets/fonts/quicksand/Quicksand-Regular.otf") format("opentype");
}

/* HEADER */

.header_layer {
    position: absolute;
    top: 0px;
    left: 0px;
    color: white;
    background:transparent;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw; 
    height: 20vh;
    max-height: 20vh;
    width: 100vw;
    z-index: 4;
}
.header_links {
    
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: baseline;
}

.header_link {
    font-family: 'Heroic_Condensed_Oblique', sans-serif;
    font-size: 36px;
    margin-left: 75px;
    margin-right: 75px;
}

.header_hero {
    
}

/* BODY */

.content_layer {
    position: absolute;
    top: 0px;
    left: 0px;
    color:white;
    font-family: 'Quicksand', sans-serif;
    background: transparent;
    font-size: 4vh;
    padding-top: 20vh;
    padding-left: 10vw;
    padding-right: 10vw; 
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

.content_title {
    font-family: 'Quicksand', sans-serif;
    font-size: 160px;
    padding-top: 7vh;
    color: white;
    text-align: center;
    text-shadow: -20px 10px 40px rgba(0,0,0,0.1), -20px 10px 30px rgba(0,0,0,0.3), -20px 10px 20px rgba(0,0,0,0.5), -20px 10px 10px rgba(0,0,0,0.7), 0 0 40px rgba(97,236,243,0.1), 0 0 30px rgba(97,236,243,0.3), 0 0 20px rgba(97,236,243,0.5), 0 0 10px rgba(97,236,243,0.7), 0 0 5px rgba(97,236,243,0.9);
}

.content_tagline {
    font-family: 'Quicksand', sans-serif;
    font-size: 64px;
    color: white;
    text-align: center;
    text-shadow: -20px 10px 40px rgba(0,0,0,0.1), -20px 10px 30px rgba(0,0,0,0.3), -20px 10px 20px rgba(0,0,0,0.5), -20px 10px 10px rgba(0,0,0,0.7), 0 0 40px rgba(97,236,243,0.1), 0 0 30px rgba(97,236,243,0.3), 0 0 20px rgba(97,236,243,0.5), 0 0 10px rgba(97,236,243,0.7), 0 0 5px rgba(97,236,243,0.9);
}

.content_tray {
    padding-top: 5vh;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.content_picture {
    width: auto;
    max-width: 30%;
    height: auto;
    filter: drop-shadow(0 0 10px rgba(97,236,243,0.9))
}

.content_picture img {
    max-width: 100%;
    clip-path: polygon(0 0, 95% 5%, 60% 100%);
    /* box-shadow: -5px 5px 20px rgba(256,256,256,0.5); */
}

.content_blurb {
    max-width: 70%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
}

.blurb1 {
    font-size: 36px;
    font-family: 'Quicksand', sans-serif;
}

.blurb2 {
    padding-top: 10px;
    font-size: 24px;
    font-family: 'Heroic_Condensed', sans-serif;
}

/* SKILLS */

.skill_header1 {
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.skill_header2 {
    font-size: 36px;
    width: 100%;
    letter-spacing: 10px;
    text-align: center;
}

.skills {
    padding-top: 100vh;
}

.skill {

}

/* PROJECTS */

.projects {

}

.project_header {

}

.project {

}

.project_name {

}

.project_description {

}

.project_skills {

}

.project_image {

}

.project_group {

}

/* SPRITES */

.sprite_layer {

}

/* BACKGROUND */

.background_layer {
    /* background-color: black; */
    background-image: url("assets/shapes/Top.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

}

body {
    background-color: black;
}

/* RESPONSIVE */ 
